<nav class="navbar navbar-expand-xl nav fixed-top" id="mainNavbar">
    <div class="container">
        <a class="navbar-brand" href="#"
            ><img src="assets/images/Logo.svg" alt="" srcset=""
        /></a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span
                class="navbar-toggler-icon d-flex justify-content-center align-items-center"
                ><i class="fa-solid fa-bars text-white"></i
            ></span>
        </button>
        <div
            class="collapse navbar-collapse nav-main"
            id="navbarSupportedContent"
        >
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#home"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#services"
                        >Service</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#resources"
                        >Resources</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#about-us"
                        >About us</a
                    >
                </li>
            </ul>
            <form class="d-flex" role="search">
                <button class="btn btn-outline-success btn-main" type="submit">
                    Contact us
                </button>
            </form>
        </div>
    </div>
</nav>
