{% extends "layout.html" %} {% set title = 'Welcome' %} {% block content %}

<section class="header-main" id="home">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-7">
                <div class="main-text">
                    <h2>
                        <span class="text-decoration-underline">Secure</span>
                        your business, Secure your
                        <span class="text-decoration-underline">future</span>
                    </h2>
                    <p class="text-center">
                        Data analysis software is a type of software tool used
                        for data analysis and reporting. It is designed to help
                        businesses, organizations, and individuals process,
                        visualize,
                    </p>
                </div>
                <div
                    class="d-flex justify-content-center align-items-center btn-primary-main"
                >
                    <button class="btn-head text-center">
                        Get Started Free
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="dashborad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="dashborad-main">
                    <img
                        class="w-100"
                        src="../assets/images/dashboard.png"
                        alt=""
                    />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="more-than animation">
    <div class="container">
        <h4 class="text-center more-text">
            More Than 10,000 users use <span>Stract</span>.
        </h4>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-2">
                <div class="main-center">
                    <img src="../assets/images/Givanudan.jpg" alt="" />
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <div class="main-center">
                    <img src="../assets/images/CERTINE.jpg" alt="" />
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <div class="main-center">
                    <img src="../assets/images/Drome.jpg" alt="" />
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <div class="main-center">
                    <img src="../assets/images/Google.jpg" alt="" />
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <div class="main-center">
                    <img src="../assets/images/Amazon.jpg" alt="" />
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <div class="main-center">
                    <img src="../assets/images/GoDaddy svg.jpg" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="explore animation" id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="explore-head">
                    <h2>Explore Our Data <br /><span>Services</span></h2>
                    <p>
                        Data analysis software is a type of software tool used
                        for data analysis and reporting. It is designed to help
                        businesses, organizations.
                    </p>
                </div>
            </div>
        </div>
        <div class="all-card">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="main-card">
                        <div class="main-circle">
                            <img src="../assets/images/testing.svg" alt="" />
                        </div>
                        <h4>Security Testing</h4>
                        <p>
                            Security testing is a type of software testing that
                            is focused determining if an information.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="main-card">
                        <div class="main-circle">
                            <img src="../assets/images/data.svg" alt="" />
                        </div>
                        <h4>Data Forensics</h4>
                        <p>
                            Security testing is a type of software testing that
                            is focused determining if an information.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="main-card">
                        <div class="main-circle">
                            <img src="../assets/images/data-test.svg" alt="" />
                        </div>
                        <h4>Penetration Testing</h4>
                        <p>
                            Security testing is a type of software testing that
                            is focused determining if an information.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="main-card">
                        <div class="main-circle">
                            <img src="../assets/images/red team.svg" alt="" />
                        </div>
                        <h4>Red Team</h4>
                        <p>
                            Security testing is a type of software testing that
                            is focused determining if an information.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="main-card">
                        <div class="main-circle">
                            <img src="../assets/images/harding.svg" alt="" />
                        </div>
                        <h4>Digital Hardening</h4>
                        <p>
                            Security testing is a type of software testing that
                            is focused determining if an information.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="main-card">
                        <div class="main-circle">
                            <img
                                src="../assets/images/message-programming.svg"
                                alt=""
                            />
                        </div>
                        <h4>Source Code Audit</h4>
                        <p>
                            Security testing is a type of software testing that
                            is focused determining if an information.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="main-card">
                        <div class="main-circle">
                            <img src="../assets/images/cpu.svg" alt="" />
                        </div>
                        <h4>Software Development</h4>
                        <p>
                            Security testing is a type of software testing that
                            is focused determining if an information.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="main-card">
                        <div class="main-circle">
                            <img
                                src="../assets/images/code-circle.svg"
                                alt=""
                            />
                        </div>
                        <h4>Software Development</h4>
                        <p>
                            Security testing is a type of software testing that
                            is focused determining if an information.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="cyber-security animation" id="resources">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="cyber-txet">
                    <h2>
                        Cyber Security <br />
                        Penetration Testing Data
                    </h2>
                    <p>
                        Data analysis software is a type of software tool used
                        for data analysis and reporting. It is designed to help
                        businesses, organizations.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-1">
                <div class="dash-dates position-relative">
                    <img
                        class="w-100 position-relative"
                        src="../assets/images/dash.jpg"
                        alt=""
                        srcset=""
                    />
                    <div class="dash-data">
                        <img
                            class="position-absolute"
                            src="../assets/images/dash-2.jpg"
                            alt=""
                        />
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 offset-lg-1">
                <div class="row flex-column">
                    <div class="col-12 col-lg-12">
                        <div class="data-card d-flex align-content-center">
                            <div class="img-card">
                                <img
                                    src="../assets/images/Vector-1.svg"
                                    alt=""
                                />
                            </div>
                            <div class="card-text">
                                <h4>Use data as you need</h4>
                                <p>
                                    Many desktop publishing packages and web
                                    page editors now use for them.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12">
                        <div class="data-card d-flex align-content-center">
                            <div class="img-card img-card-two">
                                <img
                                    class=""
                                    src="../assets/images/star.svg"
                                    alt=""
                                />
                            </div>
                            <div class="card-text">
                                <h4>Easy to Customize</h4>
                                <p>
                                    Many desktop publishing packages and web
                                    page editors now use for them.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-12">
                        <div class="data-card d-flex align-content-center">
                            <div class="img-card img-card-three">
                                <img
                                    src="../assets/images/Analytics.svg"
                                    alt=""
                                />
                            </div>
                            <div class="card-text">
                                <h4>Analytics Business</h4>
                                <p>
                                    Many desktop publishing packages and web
                                    page editors now use for them.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-stract animation position-relative" id="about-us">
    <div class="half-circle">
        <svg
            class="svg-circle"
            width="100"
            height="95"
            viewBox="0 0 100 95"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M0.000131319 0.218966L99.9999 -0.000102199C100.114 51.9179 55.4379 94.0978 0.206055 94.2188L0.000131319 0.218966Z"
                fill="#008EFF"
            />
        </svg>
    </div>
    <div class="arrow-half">
        <svg
            width="48"
            height="63"
            viewBox="0 0 48 63"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
                d="M5.50764e-06 -3.8147e-06L0 63L48 31.4956L5.50764e-06 -3.8147e-06Z"
                fill="#12B74A"
            />
        </svg>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 offset-lg-1 col-lg-5">
                <div class="stract-about position-relative">
                    <img
                        class="w-100"
                        src="../assets/images/about-starct.jpg"
                        alt=""
                    />
                    <img
                        class="position-absolute stract-img"
                        src="../assets/images/about-starct-1.jpg"
                        alt=""
                    />
                    <div class="circle-player">
                        <img class="player-img" src="../assets/images/player.svg" alt="" />

                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="stract-about-two">
                    <h2>
                        Know More About <br />
                        Stract
                    </h2>
                    <p>
                        Stract is very important because of some security
                        threats and cyber-attacks. This software protects the
                        data. Cybersecurity is important because not only it
                        helps to secure information but also our system from
                        virus attack. Cybersecurity is important because not
                        only it helps to secure information but also our system.
                    </p>
                    <div class="rating d-flex align-items-center">
                        <div class="rating-all d-flex flex-column">
                            <span class="number-rating">4.5/5</span>
                            <span class="text-rating">Customer Rating</span>
                        </div>
                        <div class="rating-all d-flex flex-column">
                            <span class="number-rating">425</span>
                            <span class="text-rating">Security Testing</span>
                        </div>
                    </div>
                    <button type="submit" class="btn-stract">Learn More</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="stract-works animation">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div class="Works-head">
                    <h2>How Stract Works</h2>
                    <p>
                        Data analysis software is a type of software tool used
                        for data analysis and reporting. It is designed to help
                        businesses, organizations.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-3">
                <div
                    class="stract-works-card d-flex flex-column justify-content-center align-items-center"
                >
                    <div class="work-circle position-relative">
                        <img src="../assets/images/accuracy.svg" alt="" />
                        <div class="number-span">
                            <span>1</span>
                        </div>
                    </div>
                    <h4>Ensure Data Accuracy</h4>
                    <p>
                        Ensuring data accuracy is crucial for making informed
                        decisions and ensuring the reliability.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-1">
                <div
                    class="arrow-circle d-flex justify-content-center align-items-center"
                >
                    <svg
                        width="141"
                        height="16"
                        viewBox="0 0 141 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M140.707 8.70711C141.098 8.31658 141.098 7.68342 140.707 7.29289L134.343 0.928932C133.953 0.538408 133.319 0.538408 132.929 0.928932C132.538 1.31946 132.538 1.95262 132.929 2.34315L138.586 8L132.929 13.6569C132.538 14.0474 132.538 14.6805 132.929 15.0711C133.319 15.4616 133.953 15.4616 134.343 15.0711L140.707 8.70711ZM0 9H140V7H0V9Z"
                            fill="#2B59FF"
                        />
                    </svg>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div
                    class="stract-works-card d-flex flex-column justify-content-center align-items-center"
                >
                    <div
                        class="work-circle work-circle-purple position-relative"
                    >
                        <img src="../assets/images/data-bases.svg" alt="" />
                        <div class="number-span">
                            <span>2</span>
                        </div>
                    </div>
                    <h4>Better Data Sources</h4>
                    <p>
                        Ensuring data accuracy is crucial for making informed
                        decisions and ensuring the reliability.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-1">
                <div
                    class="arrow-circle d-flex justify-content-center align-items-center"
                >
                    <svg
                        width="141"
                        height="16"
                        viewBox="0 0 141 16"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M140.707 8.70711C141.098 8.31658 141.098 7.68342 140.707 7.29289L134.343 0.928932C133.953 0.538408 133.319 0.538408 132.929 0.928932C132.538 1.31946 132.538 1.95262 132.929 2.34315L138.586 8L132.929 13.6569C132.538 14.0474 132.538 14.6805 132.929 15.0711C133.319 15.4616 133.953 15.4616 134.343 15.0711L140.707 8.70711ZM0 9H140V7H0V9Z"
                            fill="#2B59FF"
                        />
                    </svg>
                </div>
            </div>
            <div class="col-12 col-lg-3">
                <div
                    class="stract-works-card d-flex flex-column justify-content-center align-items-center"
                >
                    <div
                        class="work-circle work-circle-black position-relative"
                    >
                        <img src="../assets/images/Analytics-1.svg" alt="" />
                        <div class="number-span">
                            <span>3</span>
                        </div>
                    </div>
                    <h4>Business Analytics</h4>
                    <p>
                        Ensuring data accuracy is crucial for making informed
                        decisions and ensuring the reliability.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ready-start">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <div
                    class="ready-start-section d-flex flex-column justify-content-center align-items-center"
                >
                    <h2>Ready to Get Started?</h2>
                    <p>
                        Data analysis software is a type of software tool used
                        for data analysis and reporting. It is designed to help
                        businesses, organizations.
                    </p>
                    <button>Contact us</button>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
